.logo {
  width: 143px;
  height: 50px;
  position: relative;
  display: block;
  margin: 0 auto 15px;
  @media @desktop {
    margin: 0;
  }

  .logo__text() {
    font-family: 'PT Serif', sans-serif;
    .font-size(15);
    line-height: 1.5rem;
    color: @green;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
  }

  &::before {
    content: "Green";
    .logo__text();
  }

  &::after {
    content: "Valley";
    .logo__text();
    right: 0;
  }

  .logo__img {
    display: block;
    margin: 0 auto;
  }
}
